<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
  
 <nav id="navbar">
    <div class="nav-wrapper">
      <a href="home.erb" class="Srikar's-Bakery" id="srikar"><big>Srikar's Bakery</big></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home"><big>Home</big></a></li>
        <li><a href="/cakes"><big>Cakes</big></a></li>
        <li><a href="/cookies"><big>Cookies</big></a></li>
        <li><a href="/muffins"><big>Muffins</big></a></li>
        <li><a href="/recipe"><big>Random Recipe</big></a></li>
      </ul>
    </div>
  </nav>

  <div id="about">
    <h4 align="center">About us</h4>
    <big><em><p align="center">Hello and welcome to our bakery. We are a bakery based in Queens,
    NewYork. We make sure everything we sell is baked with love. 
    
    <p align="center"><big><em>Customers are our first priority :)</p></big></em>
     </p></em></big>
    
    <big><em><p align="center">
    Please feel free to check out our cakes, cookies and muffins.</p></em></big>
  </div id="bakery">
    <img src="bakery.jpg" height= 400px width=1300px>
  </div>
        
 
      <script type="text/javascript" src="/main.js"></script>
      <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
   </body>
</html>
