<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Srikar's Bakery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="layout.erb">Home <span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="cakes.erb">Cakes</a>
      <a class="nav-item nav-link" href="cookies.erb">Cookies</a>
      <a class="nav-item nav-link" href="muffins.erb">Muffins</a>
    </div>
  </div>
</nav>

   <br><br>
  <div id="about">
    <h4 align="center">About us</h4><br >
    <big><em><p align="center">Hello and welcome to our bakery. We are a bakery based in Queens,
    NewYork. We make sure everything we sell is baked with love. 
    
    <p align="center"><big><em>Customers are our first priority :)</p></big></em>
     </p></em></big>
     <br>
    <big><em><p align="center">
    Please feel free to check out our cakes, cookies and muffins.</p></em></big>
  </div>

  <div id ="card">
  <div id="card1" class="card text-white bg-primary mb-3 " style="max-width: 18rem;">
  <div class="card-header"><big>Cakes</big></div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>

    <div id="card2" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header"><big>Cookies</big></div>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>

    <div id="card3" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header"><big>Muffins</big></div>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
  </div>

      <script type="text/javascript" src="/main.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
